body {
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

